export(mime_part)
S3method(mime_part, default)
S3method(mime_part, trellis)
S3method(mime_part, ggplot)
S3method(mime_part, matrix)
S3method(mime_part, data.frame)
S3method(mime_part, character)
export(sendmail_options)
export(sendmailOptions)
export(sendmail)
